*.iml
Gifs_Watcher/.gradle
Gifs_Watcher/local.properties
Gifs_Watcher/.idea/caches
Gifs_Watcher/.idea/libraries
Gifs_Watcher/.idea/modules.xml
Gifs_Watcher/.idea/workspace.xml
Gifs_Watcher/.idea/navEditor.xml
Gifs_Watcher/.idea/assetWizardSettings.xml
Gifs_Watcher/.DS_Store
Gifs_Watcher/build
Gifs_Watcher/captures
.externalNativeBuild
.cxx
